<!-- Header Satart-->
<%- include('layout/auth_header') %>
<!-- Header End-->
    <!-- Wrapper -->
    <div class="row login-wrapper columns is-gapless bg-white ">
        <!-- Star Form section -->
        <div class="col-md-7 d-flex align-items-stretch">
            <div class="align-items-sm-center signup_start" >
                <div class="hero-body">
                    <div class="container" >
                        <div class="row ">
                            <div class="hero-heading" >
                                <div class="auth-logo">
                                    <a href="/"><img class="top-logo switcher-logo" src="assets/img/logos/logo.png"
                                            alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3 text-center  mt-5">
                                <h1 class="font-weight-bold ">First, enter your email </h1>
                                <p>We suggest using the email address you use at work</p>
                            </div>
                            <div class="col-md-12 mb-3 text-center  ">
                                <div class="login-box ">
                                    <a href="javascript:void(0)" class="social-button" id="gmail-connect"> <span>Continue with
                                            Google</span></a>
                                    <a href="javascript:void(0)" class="social-button" id="apple-connect"> <span>Continue with
                                            Apple</span></a>
                                    <h1 class="line mt-3 mb-5">OR</h1>
                                    <form id="get-started-form" onsubmit="return false">
                                        <input type="email" class="form-control" required id="signupEmail" placeholder="Please Enter Email">
                                        <button type="submit" class="social-button" id="continue-btn"> <span>Continue</span></a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my_register_pg">
                <div class="hero-heading" id="log-hide-otp">
                    <div class="auth-logo">
                        <a href="/"><img class="top-logo switcher-logo" src="assets/img/logos/logo.png"
                                alt="" /></a>
                    </div>
                </div>
                <div class="hero-body">
                    <div class="container">
                        <div class="row">
                            
                            <div class="col-md-12 ">
                                <div class="form_container">
                                    <div class="progress-wrapper">
                                        <div class="line_progress" id="progress"></div>
                                        <div class="mycircle active">1</div>
                                        <div class="mycircle">2</div>
                                        <div id="active-step3" class="mycircle ">3</div>
                                    </div>
                                </div>
                            </div>
                            
                            <%- include('partials/signup-step1') %>
                            <%- include('partials/signup-step2') %>
                            <%- include('partials/signup-step3') %>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- OTP Form -->
            <form id="otp-form">
                <div class="hero-heading">
                    <div class="auth-logo">
                        <a href="/"><img class="top-logo switcher-logo" src="assets/img/logos/logo.png"
                                alt="" /></a>
                    </div>
                </div>
                <div class="hero-body mt-80">
                    <div class="container ">
                        <div class="auth-content text-center">
                            <h2 class="mb-2">Let's Verify</h2>
                            <p>Please check your email for verification code</p>
                        </div>
        
                        <div 
                            class="login-form animated preFadeInLeft fadeInLeft ">
                            <!-- Input -->
                            <div class="field pb-10">
                                <div class="verification-code">
                                    <label class="control-label">Verification Code</label>
                                    <div class="verification-code--inputs">
                                      <input id="otp-input1" type="text" maxlength="1" />
                                      <input id="otp-input2" type="text" maxlength="1" />
                                      <input id="otp-input3" type="text" maxlength="1" />
                                      <input id="otp-input4" type="text" maxlength="1" />
                                      <input id="otp-input5" type="text" maxlength="1" />
                                      <input id="otp-input6" type="text" maxlength="1" />
                                    </div>
                                    <input type="hidden" id="verificationCode" />
                                  </div>
                            </div>
                            <div id="otp-error" class="alert alert-danger" style="display: none"></div>
                            <!-- Submit -->
                            <p class="control login d-flex justify-content-center">
                                <button type="button" id="submit-otp-value" class="
                                    button button-cta
                                    w-25
                                    primary-btn
                                    btn-align-lg
                                    is-bold
                                    rounded
                                    raised
                                    no-lh
                                ">
                                    Submit
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Image section (hidden on mobile) -->
        <div class="col-md-5 login-column is-hidden-mobile hero-banner px-0 d-flex align-items-stretch">
            <div class="hero login-hero is-fullheight is-theme-primary is-relative ">
                <div class="text-center">
                    <p class="text-white font-size-28" >39% of consumers say that they would not reorder from a company that had a bad delivery experience with.</p>
                    <!-- <h1 class="text-white">Budex Delivery</h1>
                    <p class="text-light mt-3 mx-5">
                        While Cannabis is a difficult industry as it is, Vende makes the software as simple and easy to use as possible. If you do have a question or a problem,
                         there is someone to help you within 5 minutes. They are always friendly and knowledgeable.
                    </p>
                    <img src="assets/img/smallicon/rating2.png" width="100px" height="100px" alt="" /> -->
                </div>
                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <!-- /Image section -->
    </div>
    <!-- /Wrapper -->
 <!-- Modal -->

    <!-- /Side navigation -->

    <script>
        $("#otp-form").hide()
        //Code Verification
        var verificationCode = [];
        $(".verification-code input[type=text]").keyup(function (e) {

        // Get Input for Hidden Field
        $(".verification-code input[type=text]").each(function (i) {
            verificationCode[i] = $(".verification-code input[type=text]")[i].value;
            $('#verificationCode').val(Number(verificationCode.join('')));
            //console.log( $('#verificationCode').val() );
        });

        if ($(this).val() > 0) {
            if (event.key == 1 || event.key == 2 || event.key == 3 || event.key == 4 || event.key == 5 || event.key == 6 || event.key == 7 || event.key == 8 || event.key == 9 || event.key == 0) {
                $(this).next().focus();
            }
            }else {
                if(event.key == 'Backspace'){
                    $(this).prev().focus();
                }
            }
        //alert(event.key);
        }); // keyup

        $('.verification-code input').on("paste",function(event,pastedValue){
            $('#txt').val($content)
        });

        //  alert("Height of div: " + $(".my_register_pg").height());
        $("div[data-selection] div").click(function () {
            if ($(this).find('img').hasClass('selected')) { $(this).find('img').removeAttr('class') }
            else {
                if ($(this).parent('div').attr("data-selection") == 'single') {
                    $("div[data-selection='single']  img").removeClass('selected');
                    $(this).find('img').toggleClass('selected');
                } else if ($(this).parent('div').attr("data-selection") == 'multiple') {
                    $(this).find('img').toggleClass('selected');
                }
            }
        });


        /* Gallery Sizes */
        $("div[data-image-size='large'] div").addClass('col-md-6 col-sm-4 col-xs-12');
        $("div[data-image-size='medium'] div").addClass('col-md-4 col-sm-3 col-xs-6');
        $("div[data-image-size='small'] div").addClass('col-md-2 col-sm-2 col-xs-3');

        /* Disable Dragging an Image */
        $("div[data-selection] img").mousedown(function () {
            return false;
        });

        $('.my_register_pg').hide();
        // $('.register_pg_1').hide();
        $('.register_pg_2').hide();
        $('.register_pg_3').hide();
        $('#prev').hide();
        $('#submit').hide();

        $("#new_retailer").click(function () {
            $(".selectitem1").addClass("selectstyle");
            $(".selectitem2").removeClass("selectstyle");
        })
        $("#new_retailer2").click(function () {
            $(".selectitem2").addClass("selectstyle");
            $(".selectitem1").removeClass("selectstyle");
        })
        $("#got-to-step3").click(function() {
            $('.register_pg_1').hide();
            $('.register_pg_2').hide();
            $('.register_pg_3').show();
            $("#active-step3").addClass('active')
            $("#progress").addClass('w-100');
        })

        const next = document.getElementById("next");
        const prev = document.getElementById("prev");
        const progress = document.getElementById("progress");
        const steps = document.getElementsByClassName("mycircle");

        let activeIndex = 0;
        const setActive = (toggle, index) => {
            progress.style.width = `${(toggle ? index : index - 1) * (100 / 2)}%`;
            steps[index].classList.toggle("active", toggle);
        };

        function loop(arr){
            var p = ""
            for(var i = 0; i < arr.length; i++){
                if(i < arr.length - 1) {
                    p += arr[i]+" ,"
                } else {
                    p += arr[i]
                }
            }
            return p
        }

        var managerID = ""

        prev.addEventListener("click", () => {
            next.disabled = false;
            setActive(false, activeIndex);
            activeIndex -= 1;
            if (activeIndex == 0) {

                $('.register_pg_1').show();
                $('.register_pg_2').hide();
                $('.register_pg_3').hide();
                $('#signin').show();
                $('#prev').hide();

            }
            if (activeIndex == 1) {

                $('.register_pg_1').hide();
                $('.register_pg_2').show();
                $('.register_pg_3').hide();
                $('#next').show();
                $('#submit').hide();
            }
            if (activeIndex === 0) {
                prev.disabled = true;
            }
        });        

        if("<%= email %>" != '') {
            $("#emailAddress").val("<%= email %>")
            $(".signup_start").hide();
            $(".my_register_pg").show();
        }

        $(document).on('submit', '#get-started-form', function(form) {
            form.preventDefault();

            $("#emailAddress").val($("#signupEmail").val())

            $(".signup_start").hide();
            $(".my_register_pg").show();
        });


        $('#shortvedio').click(function(){
           alert()
        })

        $("#submit-otp-value").click(function()
        {
            var str1 = $("#otp-input1").val();
            var str2 = $("#otp-input2").val();
            var str3 = $("#otp-input3").val();
            var str4 = $("#otp-input4").val();
            var str5 = $("#otp-input5").val();
            var str6 = $("#otp-input6").val();

            var otpvalue =  str1+str2+str3+str4+str5+str6;

            var settings = {
                "url": posApiUrl + "/verify-otp",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json",
                },
                "data": JSON.stringify({
                    "Username": $("#emailAddress").val(),
                    "Password": $("#password").val(),
                    "otp": otpvalue
                }),
            };

            $.ajax(settings).done(function (response) {

                if(response.success == "1"){
                    window.location = posApiUrl + "/ven_sel_tk?tok_value="+response.access_token
                } else{
                    $("#otp-error").css("display", "block").html("Invalid OTP or expired.");
                }

            });
        });

        function convertToAlias(alias) {
            if(alias !== undefined) {

            }
        }

        $(document).ready(function() {  
        // Gets the video src from the data-src on each button    
        var $videoSrc;  
        $('.video-btn').click(function() {
            $videoSrc = $(this).data( "src" );      
        });
        
        // when the modal is opened autoplay it  
        $('#video_pop').on('shown.bs.modal', function (e) {
        // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
            $("#video").attr('src',$videoSrc + "?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1");
        });

        // stop playing the youtube video when I close the modal
        $('#video_pop').on('hide.bs.modal', function (e) {
            $("#video").attr('src',$videoSrc); 
        });

        $("#dba-name").on('keyup', function() {
           $("#ecommerce_alias").val(this.value.replace(/[^a-zA-Z- ]/g, '').replace(' ', '-').replace(/^-+/i, '').replace(/-+$/, '').trim().replace(/\s/g, "-").split(/-{1,}/g).join("-").toLowerCase()); 
        });

        $("#ecommerce_alias").on('blur', function() {
            this.value = this.value.replace(/[^a-zA-Z- ]/g, '').replace(' ', '-').replace(/^-+/i, '').replace(/-+$/, '').trim().replace(/\s/g, "-").split(/-{1,}/g).join("-").toLowerCase(); 
        });
    });

    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation-step1');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                event.stopPropagation();

                if (form.checkValidity() === true) {
                    activeIndex += 1;
                    
                    $.ajax({
                        "url": adminApiUrl + "/api/distru/onboard/manager",
                        type: "POST",
                        data:  JSON.stringify({
                            "email": $("#emailAddress").val(),
                            "first_name": $("#firstName").val(),
                            "last_name": $("#lastName").val(),
                            "phone": $("#phoneNumber").val(),
                            "password": $("#password").val(),
                            "password_confirmation": $("#confirmPasssword").val()
                        }),
                        "timeout": 0,
                        "headers": {
                            "Content-Type": "application/json",
                        },
                        success: function(response) {
                            if (response.success == "1") {
                                managerID = response.data.id
                                $('.register_pg_1').hide();
                                $('.register_pg_2').show();
                                $('.register_pg_3').hide();
                                $('#signin').hide();
                                $('#prev').show();
                                setActive(true, activeIndex);
                            } else {
                                activeIndex -=1;

                                if(typeof response.message.password != "undefined" && response.message.password.length > 0){
                                    $("#signup-error").css("display", "block").html(loop(response.message.password));
                                } else if(typeof response.message.email != "undefined" && response.message.email.length > 0){
                                    $("#signup-error").css("display", "block").html(loop(response.message.email));
                                }
                            }
                        },
                        error: function(response) {
                            activeIndex -=1;
                            $("#signup-error").css("display", "block").html('Something went wrong, please try again!');
                        }
                    });
                }
                form.classList.add('was-validated');
            }, false);
            });

            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation-step2');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                event.stopPropagation();

                if (form.checkValidity() === true) {
                    
                    $.ajax({
                        "url": adminApiUrl + "/api/distru/onboard/membership",
                        type: "POST",
                        data:  JSON.stringify({
                            "manager_id": managerID,
                            "legal_name": $("#legal-buisness-name").val(),
                            "dba": $("#dba-name").val(),
                            "ecommerce_alias": $("#ecommerce_alias").val(),
                            "address": $("#address").val(),
                            "license_number": $("#license-number").val(),
                            "metrc_key": $("#matrc-key").val()
                        }),
                        "timeout": 0,
                        "headers": {
                            "Content-Type": "application/json",
                        },
                        success: function(response) {
                            if (response.success == "1") {
                                $.ajax({"url": posApiUrl + "/login-check",
                                "method": "POST",
                                "timeout": 0,
                                "headers": {
                                    "Content-Type": "application/json",
                                },
                                "data": JSON.stringify({
                                    "Username": $("#emailAddress").val(),
                                    "Password": $("#password").val()
                                }),
                                    success: function(data){
                                        if(data.success == "1"){
                                            $(".progress-wrapper").hide()
                                            $('.register_pg_1').hide();
                                            $('.register_pg_2').hide();
                                            $('.register_pg_3').hide();
                                            $("#log-hide-otp").hide()
                                            $("#otp-form").show()
                                        }
                                    }
                                });
                            } else {
                                if(typeof response.message.ecommerce_alias != "undefined" && response.message.ecommerce_alias.length > 0){
                                    $("#signup-error2").css("display", "block").html(loop(response.message.ecommerce_alias));
                                } else if(typeof response.message.manager_id != "undefined" && response.message.manager_id.length > 0){
                                    $("#signup-error2").css("display", "block").html(loop(response.message.manager_id));
                                } else {
                                    $("#signup-error2").css("display", "block").html(response.message);
                                }                               
                            }
                        },
                        error: function(response) {
                            $("#signup-error2").css("display", "block").html('Something went wrong, please try again!');
                        }
                    });
                }

                form.classList.add('was-validated');
            }, false);
            });
        }, false);
        })();

        $(".action-load-btn").hide();
        $(document).on({
            ajaxStart: function(){
                $(".action-load-btn").show();
            },
            ajaxStop: function(){
                $(".action-load-btn").hide();
            }
        });

        function removeclassfunct(y) {
            if (y.matches) {
            // If media query matches
            $(".is-hidden-mobile").removeClass("d-flex");
            $(".is-hidden-mobile").removeClass("align-items-stretch");
            } else {
            
            $(".is-hidden-mobile").addClass("d-flex");
            $(".is-hidden-mobile").addClass("align-items-stretch");
            }
        }

        var y = window.matchMedia("(max-width: 770px)");
        removeclassfunct(y); // Call listener function at run time
        y.addListener(removeclassfunct);
    </script>
   
<%- include('layout/auth_footer') %>